*~
*.diff
*.swp
*.Po
*.o
*.lo
*.a
*.la
*.so
*.so*
test_install/
*.o
.libs/
*.patch
!**/extras/**/*.patch
cscope.files
cscope.out
cscope.*
*.tar.gz
!**/extras/**/*.tar.gz
**/srx/extras/local
node*1/
node*2/
node*3/
node*4/
node*5/
node*6/
tags
#.gitignore
*/src/tools/rpkirtr_client
*/src/tools/rpkirtr_svr
quagga-0.99.16/bgpd/bgpd
connect_bgp2.sh
server_txt
server_txt2
telnet_run.sh
spawn_node*.sh
*.orig
callgrind.*
gmon.out
sample-profile-test/
gprof*
spawn*.sh
profile-*
test_result/
*/bgpd/bgpd
svn-trunk/
svn-branch/
cap_*
SourceTempTest/
garbage_cleaner*
duplicate_prefix
quagga-original/
diff_*
*.tmp
git.svn/
#Makefile
Makefile.in
*/Makefile.in
/*/**/.deps/
*.log
*.status
libtool
config.h
#stamp-h1
*.rpm
.deps/
#quagga.spec
#ripd
#ripngd
#watchquagga
#testzebra
#zebra
#babeld
*/pkgsrc/*.sh
*/tests/[a-z]*
temp-*/
temp*/
*.private
*.pub
bgpsec-keys/
*.old
.gdbinit
!**/src/tools
update-autotools
#vtysh/
bgpd/bgpd
#make_cscope.sh
autom4te.cache/
#*.conf
#!**/srx/**/*.conf
**/src/rpkirtr_client
**/src/rpkirtr_svr
**/src/server/srx_serverd
**/src/srx_server
*.bkup
configure
src/configure
srx_install/
*.pdf
*install/
**/srxapi_server
**/srxapi_client
**/*srxapi_client
**/*srxapi_server
client/CImple_srx_grpc_client
client/srx_grpc_client
server/CImple_srx_grpc_server
server/srx_grpc_server
test/
!test/*.[a-z]
!src/test
srx/**/Makefile
orig_srx/
srxsvr_client
srx-server-rev.txt
*.swo
*.swn
CImple_srx_grpc_server_stream
srx_grpc_server_callback
srx_grpc_server_stream
CImple_srx_grpc_server_callback
*.history
srx_4client
Makefile_*
srx/src/.rpkirtr_svr.history
gotags
making_grpc_client_service_lib.txt
_inst/
repo/
quagga-srx-v6/Makefile
quagga-srx-v6/babeld/Makefile
quagga-srx-v6/bgpd/Makefile
quagga-srx-v6/doc/Makefile
quagga-srx-v6/doc/defines.texi
quagga-srx-v6/isisd/Makefile
quagga-srx-v6/isisd/topology/Makefile
quagga-srx-v6/lib/Makefile
quagga-srx-v6/lib/version.h
quagga-srx-v6/m4/Makefile
quagga-srx-v6/ospf6d/Makefile
quagga-srx-v6/ospfclient/Makefile
quagga-srx-v6/ospfd/Makefile
quagga-srx-v6/pkgsrc/Makefile
quagga-srx-v6/redhat/Makefile
quagga-srx-v6/redhat/quagga.spec
quagga-srx-v6/ripd/Makefile
quagga-srx-v6/ripd/ripd
quagga-srx-v6/ripngd/Makefile
quagga-srx-v6/ripngd/ripngd
quagga-srx-v6/solaris/Makefile
quagga-srx-v6/stamp-h1
quagga-srx-v6/tests/Makefile
quagga-srx-v6/vtysh/Makefile
quagga-srx-v6/vtysh/extract.pl
quagga-srx-v6/watchquagga/Makefile
quagga-srx-v6/watchquagga/watchquagga
quagga-srx-v6/zebra/Makefile
quagga-srx-v6/zebra/testzebra
quagga-srx-v6/zebra/zebra
srx-server-v6/Makefile
srx-server-v6/extras/local/
srx-server-v6/src/Makefile
srx-server-v6/src/client/srxproxy64.conf
srx-server-v6/src/srx-0.6.1.0.spec
srx-server-v6/src/srx-proxy-0.6.1.0.spec
srx-server-v6/src/srx-proxy-devel-0.6.1.0.spec
srx-server-v6/src/stamp-h1
bgpd.pid
srx_grpc_client
srx_grpc_server
